.uni-page-refresh {
    z-index: 99999;
}
    
.btn-reset {
    padding: 0;
    border: 0;
    background-color: transparent;
    /* #ifndef APP-PLUS */
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    /* #endif */
    
    &::after {
        display: none;
    }
}

.line-ellipsis-1 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@for $i from 2 through 10 {
    .line-ellipsis-#{$i} {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: $i;
    }
}
